@font-face {
    font-family: "aliiconfont";
    /* Project id 2026882 */
    src: url('./aliiconfont.woff2') format('woff2'), url('./aliiconfont.woff') format('woff'), url('./aliiconfont.ttf') format('truetype'), url('./aliiconfont.svg') format('svg');
}

.iconfont.ali,
.iconfont.ali::before {
    font-family: "aliiconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo1:before {
    content: "\e62e";
}

.icon-jyx-tab-home:before {
    content: "\e66a";
}

.icon-jyx-tab-my:before {
    content: "\e628";
}

.icon-jyx-tab-bx:before {
    content: "\e76b";
}

.icon-jyx-tab-trip:before {
    content: "\e709";
}

.icon-ryx-tab-home:before {
    content: "\e66a";
}

.icon-ryx-tab-my:before {
    content: "\e628";
}

.icon-ryx-tab-bx:before {
    content: "\e76b";
}

.icon-ryx-tab-trip:before {
    content: "\e709";
}

.icon-xingji:before {
    content: "\e651";
}

.icon-danxuanxuanzhong:before {
    content: "\e618";
}

.icon-weibiaoti-1:before {
    content: "\e619";
}

.icon-duigou1:before {
    content: "\e731";
}

.icon-jiage:before {
    content: "\e616";
}

.icon-shaixuan11:before {
    content: "\e614";
}

.icon-huiyishichang:before {
    content: "\e702";
}

.icon-point:before {
    content: "\e613";
}

.icon-wodekefu:before {
    content: "\e68b";
}

.icon-xinzeng1:before {
    content: "\e668";
}

.icon-zhiwei:before {
    content: "\e612";
}

.icon-shanchu1:before {
    content: "\e66e";
}

.icon-hangli:before {
    content: "\e709";
}

.icon-wode:before {
    content: "\e628";
}

.icon-shouye:before {
    content: "\e66a";
}

.icon-baoxiaodan:before {
    content: "\e76b";
}

.icon-id-card:before {
    content: "\e648";
}

.icon-safety_fill:before {
    content: "\e7b1";
}

.icon-ali-lock:before {
    content: "\e708";
}

.icon-chaxun:before {
    content: "\e6f7";
}

.icon-bianji1:before {
    content: "\e62c";
}

.icon-warn:before {
    content: "\e60d";
}

.icon-yonghu:before {
    content: "\e60f";
}

.icon-book_:before {
    content: "\e60e";
}

.icon-dianhua:before {
    content: "\e64c";
}

.icon-fukuanma:before {
    content: "\e63b";
}

.icon-chucha2:before {
    content: "\e609";
}

.icon-saoma1:before {
    content: "\e60a";
}

.icon-gongsi:before {
    content: "\e72a";
}

.icon-close:before {
    content: "\e647";
}

.icon-roundrightfill:before {
    content: "\e65b";
}

.icon-unfold:before {
    content: "\e661";
}

.icon-right:before {
    content: "\e6a3";
}

.icon-gengduo:before {
    content: "\e7f3";
}

.icon-jiantouarrow483:before {
    content: "\e695";
}

.icon-sanjiao:before {
    content: "\e65c";
}

.icon-duigou:before {
    content: "\e656";
}

.icon-shuangjiantou:before {
    content: "\e624";
}

.icon-account:before {
    content: "\e603";
}

.icon-airplane:before {
    content: "\e610";
}

.icon-calendar-range:before {
    content: "\e680";
}

.icon-cellphone:before {
    content: "\e692";
}

.icon-email:before {
    content: "\e712";
}

.icon-headset:before {
    content: "\e797";
}

.icon-library-books:before {
    content: "\e7d4";
}

.icon-message-draw:before {
    content: "\e7ef";
}

.icon-message-text:before {
    content: "\e7f2";
}

.icon-settings:before {
    content: "\e898";
}

.icon-star-half:before {
    content: "\e8be";
}

.icon-star:before {
    content: "\e8bf";
}

.icon-star-outline:before {
    content: "\e8c0";
}

.icon-round_close_light:before {
    content: "\e7ee";
}

.icon-add:before {
    content: "\e6df";
}

.icon-enterinto_fill:before {
    content: "\e6f9";
}

.icon-offline_fill:before {
    content: "\e713";
}

.icon-xialajiantouxiao:before {
    content: "\e87e";
}

.icon-huochepiao:before {
    content: "\e89a";
}

.icon-guojijipiao:before {
    content: "\e89c";
}

.icon-jipiao:before {
    content: "\e89d";
}

.icon-shikebiao:before {
    content: "\e89e";
}

.icon-weilaijiudian:before {
    content: "\e8a1";
}

.icon-xiangqing:before {
    content: "\e8a0";
}

.icon-feiyongbaohan:before {
    content: "\e8a4";
}

.icon-gantanhao:before {
    content: "\e8a5";
}

.icon-shijian1:before {
    content: "\e8a9";
}

.icon-xuanzuo:before {
    content: "\e8ac";
}

.icon-shaixuan1:before {
    content: "\e8b3";
}

.icon-shaixuan2:before {
    content: "\e8b4";
}

.icon-hangbanyanwu:before {
    content: "\e8cc";
}

.icon-jinrujiantouxiao:before {
    content: "\e8d4";
}

.icon-huochepiaomianxing:before {
    content: "\e8d8";
}

.icon-exchange:before {
    content: "\e604";
}

.icon-qiehuan:before {
    content: "\e66c";
}

.icon-Remove:before {
    content: "\e84b";
}

.icon-roundrightfill-copy:before {
    content: "\e8d5";
}

.icon-dingdan:before {
    content: "\e666";
}

.icon-order:before {
    content: "\e673";
}

.icon-huoche1:before {
    content: "\e68f";
}

.icon-jiudian11:before {
    content: "\e636";
}

.icon-feiji1:before {
    content: "\e640";
}

.icon-zizhuzhiji1:before {
    content: "\e605";
}

.icon-hangban:before {
    content: "\e606";
}

.icon-bianji:before {
    content: "\e61c";
}

.icon-shanchu:before {
    content: "\e626";
}

.icon-guanbi:before {
    content: "\e608";
}

.icon-jiangluo:before {
    content: "\e665";
}

.icon-fill1:before {
    content: "\e62b";
}

.icon-shijian11:before {
    content: "\e657";
}

.icon-qifei:before {
    content: "\e625";
}

.icon-xuanzhong1:before {
    content: "\e61e";
}

.icon-kexuanzuowei:before {
    content: "\e699";
}

.icon-yixuanzuowei:before {
    content: "\e69a";
}

.icon-lujing:before {
    content: "\e66d";
}

.icon-xiaojiaoche1:before {
    content: "\e60b";
}

.icon-rili1:before {
    content: "\e60c";
}

.icon-lunkuohua22_lianjiefuben:before {
    content: "\e65a";
}

.icon-daibandengdaishenhe:before {
    content: "\e622";
}

.icon-change:before {
    content: "\e600";
}

.icon-zhengjian:before {
    content: "\e62d";
}

.icon-buduifazhan:before {
    content: "\e6a9";
}

.icon-mima:before {
    content: "\e855";
}

.icon-chucha:before {
    content: "\e61b";
}

.icon-hi:before {
    content: "\e61f";
}

.icon-shijian:before {
    content: "\e646";
}

.icon-didian:before {
    content: "\e62a";
}

.icon-xuanzhong:before {
    content: "\e669";
}

.icon-jiangluoqifei:before {
    content: "\e611";
}

.icon-backOff:before {
    content: "\e729";
}

.icon-jianglachengshi:before {
    content: "\e6e3";
}

.icon-zhijixuanzuo_icon_bukexuanx:before {
    content: "\e607";
}

.icon-zizhuzhiji:before {
    content: "\e601";
}

.icon-jiudian:before {
    content: "\e888";
}

.icon-xiaojiaoche:before {
    content: "\e7db";
}

.icon-rili:before {
    content: "\e617";
}

.icon-fanhuishouye:before {
    content: "\e61a";
}

.icon-dingdanjianying:before {
    content: "\e6c6";
}

.icon-feiji:before {
    content: "\e602";
}

.icon-swticonjiudian1:before {
    content: "\e631";
}

.icon-zengjia:before {
    content: "\e642";
}

.icon-chuchashenqingliuchengzhizaojiaofu:before {
    content: "\e650";
}

.icon-huoche:before {
    content: "\e7bd";
}

.icon-select-company-code:before {
    content: "\e72a";
}